html {
    background: url("../img/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    font-family:"tahoma";
}

#header{
    margin:auto;
    width:300px;
    height:80px;
    text-align:center;
    line-height:80px;
    font-size:40px;
    background-color: rgba(255,255,255,0.8);
}

#content_container{
    width:100%;
    margin:10px auto;
    background-color: rgba(45,45,45,0.3);
}

#info {
    width: calc(70% - 40px);
    padding:20px;
    background-color: rgba(255,255,255,0.75);
    border-radius: 5px;
    float:left;
    font-size:25px;

}
#tabs{
    width:30%;
    float:left;
}

#menu{
    width: calc(70% - 40px);
    padding:20px;
    background-color: rgba(255,255,255,0.75);
    border-radius: 5px;
    float:left;
}

.menu_category{
    font-size:35px;
}

.menu_list{
    display:none;
}

.menu_item{
    position: relative;
}

.menu_header{
    font-weight: bold;
    font-size:18px;
    float:left;
    margin-right: 10px;
}
.menu_price{
    font-style: italic;
    font-size:18px;
    width:auto
    float:left;
}
.menu_description{
    font-size:16px;
}

.nav_tab{
    width:90%;
    height:30px;
    background-color:red;
    float:right;
    margin: 0px 0px 40px 0px;
    text-align: center;
    line-height:30px;
    color:black;
    text-decoration: none;
    box-shadow:  0 0 5px 2px rgba(0,0,0,1);
    -moz-box-shadow:  0 0 5px 2px rgba(0,0,0,1);
    -webkit-box-shadow:  0 0 5px 2px rgba(0,0,0,1);(0,0,0,0.5);
    -o-box-shadow:  0 0 5px 2px rgba(0,0,0,1);
}

.current_tab{
    background-color:darkred;
}